html,
body {
    padding: 0 50px;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: #FF3CAC;
    background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);


}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

@media only screen and (max-width: 960px) {
    body {
        padding: 0;
    }
}